<html>
<head>
	<meta charset="UTF-8">
	<title>Quotes Page</title>
	<link rel="stylesheet" href="/assets/quotes.css.scss">
</head>
<body>
	<h2 class="welcome">Welcome to Emilio's Random and Often Silly Quotes Collection.</h2>


	<div class="quote-wrap">

		
<!-- Other Peoples Quotes -->
		<div>
			<h1>Other Quotes</h1>

			<p>“I hate nothing more than a competently shot and edited episode. One foot in front of the other, a plodding, well-put-together hour of storytelling that trudges efficiently toward predictably heartwarming closing remarks.” - Anthony Bourdain</p>

			<p>"That's right - that's the way she goes. Sometimes she goes, sometimes it doesn't. She didn't go. That's the way she goes." - Ray</p>

			<p>"If you can dodge a wrench, you can dodge a ball!" - Patches O'Houlihan</p>
		</div>

<!-- My Quotes -->
		<div>
			<h1>Personal Quotes</h1>

			<p>"Lets go baseball! Lets go!"</p>
			<p>"Lets go hockey! Lets go!"</p>
			<p>"But you always give me juice..."</p>
		</div>


	</div>
	
</body>
</html>


