<html>
<head>
	<meta charset="UTF-8">
	<title>Quotes Page</title>
	<link rel="stylesheet" href="/assets/quotes.css.scss">
</head>
<body>
	<h2>Welcome to Emilio's Random and Often Silly Quotes Collection.</h2>


	<div class="quote-wrap">
		
		<div class="cool-quote">
			<p>Other Quotes</p>

			<p>“I hate nothing more than a competently shot and edited episode. One foot in front of the other, a plodding, well-put-together hour of storytelling that trudges efficiently toward predictably heartwarming closing remarks.” - Anthony Bourdain</p>

			<p>Placeholder for more quotes to be! Stay tuned! Keep your thumbs out of your buttholes! And hang out! Poop!</p>


			<p>Placeholder for more quotes to be! Stay tuned! Keep your thumbs out of your buttholes! And hang out! Poop!</p>


			<p>Placeholder for more quotes to be! Stay tuned! Keep your thumbs out of your buttholes! And hang out! Poop!</p>
	

		</div>


		<div class="quote">
			<p>Personal Quotes</p>
			
			<p>"Pooped muh pants."</p>
			
			<p>Placeholder for more quotes to be! Stay tuned! Keep your thumbs out of your buttholes! And hang out! Poop!</p>


			<p>Placeholder for more quotes to be! Stay tuned! Keep your thumbs out of your buttholes! And hang out! Poop!</p>


			<p>Placeholder for more quotes to be! Stay tuned! Keep your thumbs out of your buttholes! And hang out! Poop!</p>


			<p>Placeholder for more quotes to be! Stay tuned! Keep your thumbs out of your buttholes! And hang out! Poop!</p>

		</div>


	</div>
	
</body>
</html>


