<!-- <html>
<head>
	<meta charset="UTF-8">
	<title>About Page</title>
	<link rel="stylesheet" href="/assets/about.css.scss">
</head>
<body>

	<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>
</div>

<div id="content">
	<h2>Hey, I'm Emilio Soto</h1>
	<p>Emilio is dude. He welcomes you to this site. This is my blog as well as a place to drop somewhat random poop. Bippity boppity boop!</p>

	<h2>NAME: This guy.<br>ETHNICITY: Bippitty.<br>ORIGIN: Ploop.<br>PURPOSE: Meh.</h2>


</div>
	
</body>
</html>

 -->



<html>
<head>
	<meta charset="UTF-8">
	<title>About Page</title>
	<link rel="stylesheet" href="/assets/about.css.scss">
</head>
<body>
	
		<div class="about-pic">
			<!-- <img src="/assets/profile.jpg" alt="profile picture"> -->
			<%= image_tag "profile.jpg" %>
		</div>
	
</body>
</html>









