<html>
<head>
	<meta charset="UTF-8">
	<title>About Page</title>
	<link rel="stylesheet" href="/assets/about.css.scss">
</head>
<body>
	<!-- <h1 class="about-header">Hey, I'm Emilio Soto</h1> -->

<div class="about-container">

	<div class="about-image-group">
		<img id="profile_image" src="../../assets/about_img2.png" alt="profile-pic">
		<img id="profile_image" src="../../assets/about_img1.png" alt="profile-pic">
		<img id="profile_image" src="../../assets/about_img3.jpg" alt="profile-pic">
		<!-- <img id="profile_image" src="../../assets/about_img4.jpg" alt="profile-pic"> -->
	</div>	



	<div id="content">
			<p class="bubble-text">
				Hey all! I've been in the service industry pretty much my entire working life. I worked at the same bar for 12 wonderful years. I grew up there and would consider the staff as well as some customers a part of my extended family. As difficult as it was to pack up and leave my job and childhood neighborhood I felt it was the right decision and hope it pays off.
			
			</p>
			<!-- 	<div class="thought-bubbles"></div>
					<div class="thought-bubbles"></div>
						<div class="thought-bubbles"></div> -->

			<p class="bubble-text">
				I moved to Massachusetts on February 20th and have been studying intently on my own in hopes of entering the tech industry as a Front-End Developer. The journey so far has been both extremely exciting and arduous. I wouldn't have it any other way. Wish me luck!
			 </p><!-- 
					<div class="thought-bubbles"></div>
						<div class="thought-bubbles"></div>
						<div class="thought-bubbles"></div> -->

			<p class="bubble-text">
				Some random things about me! My nickname as a kid was boobie. Nothing to do with breasts though one would assume. I'm 5' 11" but lie and say I'm 6' to save syllables. I like fiddling around with my keyboard but wouldn't say I play. I fiddle. Magic the Gathering anyone? I love the game and am always excited to meet other players as I don't get to play that often anymore. I enjoy harsh languages and am a fan of Russian and German. I've tried learning them off and on over the years on duolingo and books. Es ist sehr schwer. Aber Spaß! Sushi. I eat it a lot. Thats all for now!
				
			</p>

		<!-- 	<li><strong>Nickname:</strong> Boobie</li>
			<li><strong>Height:</strong> 6'</li>
			<li><strong>Weight:</strong> 185Ib</li>
			<li><strong>Interests:</strong> Magic the Gathering, Darts, Piano, German Language, Programming.</li> -->
	

	</div>

</div>

	
</body>
</html>














