<html>
<head>
	<meta charset="UTF-8">
	<title>About Page</title>
	<link rel="stylesheet" href="/assets/about.css.scss">
</head>
<body>
	<h1 class="about-header">Hey, I'm Emilio Soto</h1>

<div class="about-container">

		<div id="profile_image">
			<img src="../../assets/profile.jpg" alt="profile-pic">
		</div>




	<div id="content">

		<ul>
			<li><strong>Nickname:</strong> Boobie</li>
			<li><strong>Height:</strong> 6'</li>
			<li><strong>Weight:</strong> 185Ib</li>
			<li><strong>Interests:</strong> Magic the Gathering, Darts, Piano, German Language, Programming.</li>
		</ul>

	</div>

</div>

	
</body>
</html>














