<html>
<head>
	<meta charset="UTF-8">
	<title>About Page</title>
	<link rel="stylesheet" href="/assets/about.css.scss">
</head>
<body>
	<!-- <h1 class="about-header">Hey, I'm Emilio Soto</h1> -->

<div class="about-container">

		
<img id="profile_image" src="../../assets/eblogprofilepic.jpg" alt="profile-pic">

	


	<div id="content">

		<ul>
			<p>Hey all! I've been in the service industry pretty much my entire working life. I worked at the same bar for 12 wonderful years. I grew up there and would consider the staff as well as some customers a part of my extended family. As difficult as it was to pack up and leave my job and childhood neighborhood I felt it was the right decision and hope it pays off.</p>

			<p>I moved to Massachusetts on February 20th and have been studying intently on my own in hopes of entering the tech industry as a Front-End Developer. The journey so far has been both extremely exciting and arduous. I wouldn't have it any other way. Wish me luck! </p>

			<li><strong>Nickname:</strong> Boobie</li>
			<li><strong>Height:</strong> 6'</li>
			<li><strong>Weight:</strong> 185Ib</li>
			<li><strong>Interests:</strong> Magic the Gathering, Darts, Piano, German Language, Programming.</li>
		</ul>

	</div>

</div>

	
</body>
</html>














