/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */


@import 'normalize';
// @import url('https://fonts.googleapis.com/css?family=Raleway');




// html {
// 	background-color:pink;

// }


html, body {
		padding:50px;
		background-color:pink;
		// background: linear-gradient(132deg, blue, red, yellow);
		background: linear-gradient(132deg, #389917, red, yellow);
		opacity:0.9;
		background-size: 400% 400%;
		// animation: BackgroundGradient 30s cubic-bezier(0, 0.47, 0.32, 1.97) 1;
		}

		@keyframes BackgroundGradient {
			0% {background-position: 0% 50%;}
			50% {background-position: 100% 50%;}
			100% {background-position: 0% 50%;}
		}



	// 			h1 {
	// 		border:solid green 5px;
	// 		position: absolute;
	// 		left: 30%;
	// 		top: 50%;
	// 		transform: translateX(-50) translateY(-50);
	// 		/*font-family: Open Sans, sans-serif;*/
	// 		font-family: 'Krona One', sans-serif;
	// 		color: black;
	// 		font-weight: 500;
	// 		text-transform: uppercase;
	// 		text-align: center;
	// 		font-size: 2em;
	// 		background-color: black;
	// 		padding: 5px;
	// 		background: linear-gradient(132deg, black, red);
	// 		background-size: 400% 400%;
	// 		animation: BackgroundGradient 8s ease infinite;

	// 	}





// html, body {
// 	background-color:black;
// 	font-family: 'Raleway', sans-serif;
// }

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: inherit;
}

#sidebar {
	position: fixed;
	left: 0;
	top: 0;
	width: 150px;
	height: 100%;
	// background: #f5f7f9;
	// background:#05471D;
	background:#0C1C10;
	padding: 6em 0 0 0;
	// border-right: 1px solid #d6dce0;
	border-right:1px solid green;
	border-left:1px solid green;
	img {
		width: 50px;
		position: absolute;
		border:solid green 1px;
		right: 3em;
		top: 3em;
	}
	ul {
		list-style: none;
		text-align: right;
		padding-right: 3em;
		.category {
			font-weight: 700;
			font-size: 0.7em;
			text-transform: uppercase;
			// color: #33acb7;
			color:#AC541C;
			// color:#0C6510;
		}
		li {
			padding: .5em 0;
			a {
				color: #9eafba;
				text-decoration: none;
				transition: all .4s ease;
				&:hover {
					// color: #33acb7;
					// color:aqua;
					color:white;
				}
			}
		}
		.active {
			a {
				color: #33acb7;

			}
		}
	}
	.sign_in {
		// position: absolute;
		right: 3em;
		top: 80%;
		font-size: .8em;
		color: #9eafba;
	}
}

.button {
	outline: none;
	background: transparent;
	border: 1px solid #d6dce0;
	padding: .5em 1.5em;
	border-radius: 1.5em;
	&:hover {
		border: 1px solid #33acb7;
		color: #33acb7;
		a {
			color: #33acb7 !important;
		}
	}
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}





#main_content {
	// background-color:red;
	margin-left:150px;
	// position:absolute;
	// width:100%;
	#header {

		position:fixed;
		top:0px;
		left:152px;
		width:100%;
		// width:70%;

		// background-color:red;
		// display:block;
		padding: 1em 3em;

		// border-bottom: 1px solid #d6dce0;
		border-bottom: 1px solid green;


		// background: #f5f7f9;
		// background-color:blue;
		background:#0C1C10;
		color: #9eafba;
		p {
			display: inline;
		}
		a {
			color: #9eafba;
			text-decoration: none;
		}
		.buttons {
			background-color:clear;
			position:fixed;
			right:30px;
			top:16px;
			// display:block;
			float:right;
			margin-top: -6px;

			.button {
				font-size: .8em;
				margin-left: .5em;
			}
		}
	}

	.date {
		padding-left:50px;
	}


	.post_wrapper {
		padding: 3em;
		border-bottom: 1px solid #d6dce0;
		.title {
			margin: 0;

			a {
				font-weight: 500;
				text-decoration: none;
				color: #2a2f35;
				font-size: 1.5em;
				&:hover {
					color: #33acb7;
					// color:red;
				}
			}
		}
		.date_and_author {
			color: #9eafba;
			margin: .5em 0 0 0;
		}
	}
	#post_content {
		padding: 1em 3em;
		.title {
			font-weight: 500;
			text-decoration: none;
			color: #2a2f35;
			font-size: 2.5em;
			margin-bottom: 0;
		}
		.body {
			font-size: 1.1em;
			line-height: 1.75;
		}
		.date_and_author {
			color: #9eafba;
			margin: .5em 0 2em 0;
		}
		#comments {
			h2 {
				margin: 3em 0 1em 0;
				border-bottom: 1px solid #d6dce0;
				padding-bottom: 0.5em;
			}
			h3 {
				margin-top: 2em;
			}
			.comment {
				border-bottom: 1px solid #d6dce0;
				padding: 1.5em 2em;
				.clear_both {
					clear: both;
				}
				&:after {
					clear: both;
				}
				.comment_content {
					float: left;
					.comment_name {
						margin: 1em 0 0 0;
						font-size: 0.7em;
						text-transform: uppercase;
					}
					.comment_body {
						font-size: 1.2em;
						margin: 0.2em 0 0 0;
					}
					.comment_time {
						margin-top: 1.2em;
						font-size: .8em;
					}
				}
				.button {
					float: right;
				}
			}
			input[type="text"], textarea {
				width: 50%;
			}
		}
	}
	#page_wrapper {
		padding: 3em;
		#profile_image {
			width: 300px;
			float: left;
			margin-right: 2em;
			img {
				width: 100%;
				border-radius: 0.35em;
			}
		}
		#content {
			h1 {
				font-weight: 500;
			}
			p {
				font-size: 1.1em;
				line-height: 1.75;
			}
			a {
				color: #33acb7;
				font-weight: 700;
				text-decoration: none;
			}
		}
	}
	.links {
		margin: 2em 0;
	}
	input[type="text"], input[type="email"], input[type="password"], textarea {
		width: 90%;
		border: 1px solid #d6dce0;
		border-radius: .35em;
		margin-top: 10px;
		padding: .5em 1em;
		line-height: 1.75;
	}
	input[type="text"] {
		height: 35px;
	}
	textarea {
		min-height: 180px;
	}
	input[type="submit"] {
		outline: none;
		background: transparent;
		border: 1px solid #d6dce0;
		padding: .5em 1.5em;
		font-size: 1.1em;
		border-radius: 1.5em;
		margin-left: .5em;
		&:hover {
			border: 1px solid #33acb7;
			color: #33acb7;
		}
	}
}




 // *= require_tree .